include head
main.container.impressum(role="main")

    h3 Allgemeine Gesch&auml;ftsbedingungen
    hr
    p 1. Vertragsgegenstand
    p
    | 1.1 Diese Softwarebedingungen gelten f&uuml;r Rechtsgesch&auml;fte zwischen Unternehmen und zwar f&uuml;r die Lieferung und Lizenzierung von Software. Software im Sinne dieser Bedingungen sind vom Lizenzgeber standardm&auml;&szlig;ig vertriebene oder individuell f&uuml;r den Lizenznehmer entwickelte oder adaptierte Computerprogramme im Sinne des &sect;40a &ouml;sterreichisches Urheberrechtsgesetz zur Nutzung auf, zum Betrieb oder zur Steuerung von elektrotechnischen und/oder elektronischen Einrichtungen und Systemen einschlie&szlig;lich hierf&uuml;r &uuml;berlassener Unterlagen gem&auml;&szlig; Punkt 5.
    p
    | 1.2 Der Leistungsumfang und damit zusammenh&auml;ngende Software-Leistungen und etwaige Zusatzleistungen sind einzelvertraglich zu definieren. Diese Bedingungen gelten auch f&uuml;r diese Software-Leistungen und Zusatzleistungen.
    p 2. Rechteeinr&auml;umung
    p
    | 2.1. Sofern einzelvertraglich nicht anders vereinbart, erh&auml;lt der Lizenznehmer das nicht &uuml;bertragbare und nicht ausschlie&szlig;liche Recht, die Software unter Einhaltung der vertraglichen Spezifikation am vereinbarten Aufstellungsort zu benutzen. Dieses Recht ist bei mitgelieferter Hardware ausschlie&szlig;lich auf die Nutzung auf dieser Hardware beschr&auml;nkt.
    p
    | Bei selbst&auml;ndiger Software ist die Nutzung ausschlie&szlig;lich auf der im Vertrag nach Type, Anzahl und Aufstellungsort definierten Hardware zul&auml;ssig. Eine Nutzung auf einer anderen als im Vertrag definierter Hardware und auf mehreren Arbeitspl&auml;tzen bedarf einer gesonderten schriftlichen Vereinbarung.
    p
    | 2.2 Alle anderen Rechte an der Software sind dem Lizenzgeber vorbehalten. Ohne dessen vorheriges schriftliches Einverst&auml;ndnis ist der Lizenznehmer unbeschadet der Bestimmungen des &sect;40d &ouml;sterreichisches Urheberrechtsgesetz daher insbesondere nicht berechtigt, die Software zu vervielf&auml;ltigen, zu &auml;ndern, Dritten zur Verf&uuml;gung zu &nbsp;stellen oder auf einer anderen als der im Vertrag definierten Hardware zu benutzen.
    p 3. Vertragsschluss
    p
    | 3.1 Angebote des Lizenzgebers gelten im Zweifel als freibleibend. Der Vertrag &uuml;ber die Lieferung und Lizenzierung der Software samt der damit zusammenh&auml;ngenden, einzelvertraglich zu vereinbarenden Software-Leistungen gilt als geschlossen, wenn der Lizenzgeber nach Erhalt der Bestellung des Lizenznehmers den Auftrag schriftlich best&auml;tigt oder die erste Teillieferung vorgenommen hat.
    p
    | 3.2 S&auml;mtliche Angebots- und Projektunterlagen d&uuml;rfen ohne Zustimmung des Lizenzgebers weder vervielf&auml;ltigt noch Dritten zur Verf&uuml;gung gestellt werden. Sie k&ouml;nnen jederzeit zur&uuml;ckgefordert werden und sind dem Lizenzgeber unverz&uuml;glich zur&uuml;ckzustellen, wenn kein Vertrag zwischen Lizenzgeber und Lizenznehmer &uuml;ber den gegenst&auml;ndlichen Auftrag zustande kommt.
    p
    | 3.3 Nachtr&auml;gliche &Auml;nderungen und Erg&auml;nzungen des Vertrags &uuml;ber die Lieferung und Lizenzierung der Software einschlie&szlig;lich dieser Bedingungen bed&uuml;rfen der Schriftform. Von diesen Bedingungen abweichende Bestimmungen, gelten als einzelvertraglich vereinbart, wenn der Lizenzgeber diesen ausdr&uuml;cklich zustimmt.
    p 4. Mitwirkungspflichten des Lizenznehmers
    p
    | Vorbehaltlich einer einzelvertraglichen Regelung ist der Lizenznehmer verantwortlich f&uuml;r:
    p Die Auswahl aus der vom Lizenzgeber angebotenen Software;
    p
    | Bei Individualsoftware f&uuml;r die &Uuml;bermittlung aller zur Erstellung eines Pflichtenheftes erforderlichen Informationen;
    p Die Benutzung der Software sowie die damit erzielten Resultate;
    p Das Einspielen von ihm zur Verf&uuml;gung gestellten neuen Versionen und Updates;
    p 5. Softwarespezifikationen
    p
    | 5.1 Der Lizenzgeber stellt die Spezifikationen bei Standardsoftware zur Verf&uuml;gung.
    p
    | 5.2 F&uuml;r vom Lizenznehmer beauftragte Individualsoftware ist ein Pflichtenheft zwischen dem Lizenzgeber und dem Lizenznehmer schriftlich zu vereinbaren.
    p
    | 5.3 Softwarespezifikationen k&ouml;nnen z.B. Leistungsmerkmale, Unterlagen &uuml;ber spezielle Funktionen, Hardware- und Softwarevoraussetzungen, Installationserfordernisse, Einsatzbedingungen, Bedienung (Bedienerhandbuch) beinhalten.
    p
    | 5.4 Der Lizenznehmer ist f&uuml;r die Einhaltung der Softwarespezifikationen, wie insbesondere der Einsatzbedingungen, sowie die Erlangung und Einhaltung etwaiger beh&ouml;rdlicher Zulassungsbedingungen verantwortlich.
    p 6. Lieferung, Gefahrtragung und Abnahme
    p
    | 6.1 Sofern einzelvertraglich nicht anders vereinbart, liefert der Lizenzgeber dem Lizenznehmer die Software in maschinenlesbarer Form. Dies erfolgt entweder in Form einer physischen Lieferung oder &Uuml;bergabe eines physischen Datentr&auml;gers bzw. durch Zurverf&uuml;gungstellung in elektronischer Form (z.B. Download). Der Lizenzgeber ist berechtigt, die im Lieferzeitpunkt aktuelle Version zu liefern.
    p
    | 6.2 Wird kein Liefertermin vereinbart, wird der Liefertermin dem Lizenznehmer vom Lizenzgeber bekanntgegeben.
    p
    | 6.3 Der Versand von Software und Datentr&auml;gern erfolgt auf Gefahr des Lizenznehmers.
    p
    | 6.4 Sofern eine Abnahme vorgesehen ist, steht dem Lizenznehmer die Software zur unentgeltlichen Benutzung w&auml;hrend einer Testperiode zur Verf&uuml;gung. Die Testperiode beginnt mit Lieferung der Software bzw. mit dem zur Verf&uuml;gung stellen in elektronischer Form gem&auml;&szlig; Punkt 6.1. und dauert eine Woche, sofern einzelvertraglich nichts anderes vereinbart ist.
    p 6.5 Die Software gilt nach Ablauf der Testperiode als abgenommen, wenn:
    p
    | 6.5.1 der Lizenznehmer die &Uuml;bereinstimmung mit den vertraglichen Spezifikationen best&auml;tigt;
    p
    | 6.5.2 der Lizenznehmer innerhalb der Testperiode nicht schriftlich wesentliche M&auml;ngel r&uuml;gt; oder
    p
    | 6.5.3 der Lizenznehmer die Software nach Ablauf der Testperiode im Rahmen seines Gesch&auml;ftsbetriebes benutzt.
    p
    | 6.6 Ist keine Abnahme vorgesehen, so tritt hinsichtlich der Rechtsfolgen gem&auml;&szlig; Punkt 7.1 an Stelle der Abnahme der Zeitpunkt der Lieferung. Die Gefahr geht in jedem Fall mit der Lieferung auf den Lizenznehmer &uuml;ber.
    p 7. Gew&auml;hrleistung und Einstehen f&uuml;r M&auml;ngel
    p
    | 7.1 Bei Software gew&auml;hrleistet der Lizenzgeber die &Uuml;bereinstimmung mit den bei Vertragsabschluss g&uuml;ltigen Spezifikationen, sofern die Software gem&auml;&szlig; den jeweils geltenden Installationserfordernissen eingesetzt und unter den jeweils geltenden Einsatzbedingungen benutzt wird. Aus Angaben in Katalogen, Prospekten, Werbeschriften und schriftlichen oder m&uuml;ndlichen &Auml;u&szlig;erungen, die nicht in den Vertrag aufgenommen worden sind, k&ouml;nnen weder Gew&auml;hrleistungsanspr&uuml;che abgeleitet noch Haftungen begr&uuml;ndet werden. Sofern einzelvertraglich nichts anderes vereinbart ist, gilt die gesetzliche Gew&auml;hrleistungsfrist ab Abnahme bzw. Lieferung.
    p
    | 7.2 Sofern einzelvertraglich nicht anders vereinbart, richtet sich die Beweislast daf&uuml;r, dass der Mangel bereits zum &Uuml;bergabezeitpunkt vorhanden war, nach den gesetzlichen Gew&auml;hrleistungsbestimmungen.
    p
    | 7.3 Voraussetzung f&uuml;r die Geltendmachung von Gew&auml;hrleistungsanspr&uuml;chen ist, sofern einzelvertraglich nicht anders vereinbart, eine unverz&uuml;gliche Untersuchung bzw. Pr&uuml;fung der Software bei Lieferung sowie eine unverz&uuml;gliche schriftliche M&auml;ngelr&uuml;ge, in welcher der Lizenznehmer nach besten Bem&uuml;hungen die Abweichung von der Spezifikation; die Bedienschritte, welche zum Mangel gef&uuml;hrt haben; sowie die Fehlermeldung der Software detailliert bekanntzugeben hat..
    p 7.4 Voraussetzungen jeder M&auml;ngelbeseitigung sind, dass&nbsp;
    p es sich um eine funktionsst&ouml;rende Abweichung handelt;
    p diese reproduzierbar ist;
    p
    | der Lizenznehmer ihm allenfalls innerhalb der Gew&auml;hrleistungsfrist kostenlos angebotene neue Versionen und Updates installiert hat;
    p
    | der Lizenzgeber vom Lizenznehmer alle f&uuml;r die Mangelbeseitigung notwendigen Unterlagen und Informationen erh&auml;lt; und
    p
    | dem Lizenzgeber w&auml;hrend dessen Normalarbeitszeit der Zugang zu Hardware und Software erm&ouml;glicht wird.
    p
    | 7.5 Die Beseitigung von M&auml;ngeln, das sind funktionsst&ouml;renden Abweichungen von den g&uuml;ltigen Spezifikationen, erfolgt nach Wahl des Lizenzgebers durch Lieferung einer neuen Software oder durch entsprechende &Auml;nderung des Programms.
    p
    | 7.6 Sofern einzelvertraglich nicht anders vereinbart, besteht f&uuml;r Software, an welcher der Lizenznehmer oder Dritte ohne vorherige schriftliche Zustimmung des Lizenzgebers &Auml;nderungen vorgenommen haben, keine Gew&auml;hrleistung, auch wenn der Mangel in einem nicht ge&auml;nderten Teil auftritt.
    p
    | 7.7 Sofern einzelvertraglich vorab nicht anders vereinbart, f&uuml;hrt eine Ver&auml;nderung der urspr&uuml;nglich f&uuml;r die Softwareinstallation zur Verf&uuml;gung gestellten Hardware bzw. Hardwarekonfiguration durch den Lizenznehmer oder Dritte zum Erl&ouml;schen der Gew&auml;hrleistung.
    p
    | 7.8 Sofern einzelvertraglich nicht anders vereinbart, &uuml;bernimmt der Lizenzgeber keine Gew&auml;hr
    p f&uuml;r Fremdsoftware, die nicht Vertragsbestandteil ist,
    p
    | f&uuml;r das Zusammenarbeiten vertragsgegenst&auml;ndlicher Software mit anderen beim Lizenznehmer im Einsatz befindlichen oder geplanten Softwareprogrammen oder
    p
    | f&uuml;r blo&szlig; kurzfristige, softwaretypische Funktionsunterbrechungen bzw. &ndash;st&ouml;rungen.
    p
    | 7.9 Unsachgem&auml;&szlig;e Handhabung oder Fehler in der Bedienung bzw. Benutzung der Software durch den Lizenznehmer oder Dritte, f&uuml;hrt zu einem Ausschluss der Gew&auml;hrleistung.
    p
    | 7.10 Entspricht die Software bei aufrechter Gew&auml;hrleistung in funktionsst&ouml;render Weise nicht den Spezifikationen und ist der Lizenzgeber trotz nachhaltiger Bem&uuml;hungen innerhalb einer angemessenen Frist nicht in der Lage, die &Uuml;bereinstimmung mit den Spezifikationen herzustellen, hat jeder Vertragsteil das Recht, den Vertrag f&uuml;r die betreffende Software, gegen R&uuml;ckerstattung der erhaltenen Leistungen, mit sofortiger Wirkung aufzul&ouml;sen.
    p
    | 7.11 M&auml;ngel in einzelnen Programmen geben dem Lizenznehmer nicht das Recht, den Vertrag hinsichtlich der &uuml;brigen Programme aufzul&ouml;sen.
    p
    | 7.12 Sofern einzelvertraglich nicht anders vereinbart, sind weitere Anspr&uuml;che aus dem Titel der Mangelhaftigkeit der Software, mit Ausnahme solcher nach Punkt 7., ausgeschlossen.
    p
    | 7.13 Wartungen (zB. Fehlerdiagnose und &ndash;beseitigung, Pflege etc.), die nicht unter die M&auml;ngelbehebung fallen, sowie deren jeweilige Kostentragung, sind gesondert zu vereinbaren.
    p 8. Gewerbliche Schutzrechte und Urheberrecht
    p
    | 8.1 Der Lizenzgeber wird den Lizenznehmer in der Abwehr aller Anspr&uuml;che unterst&uuml;tzen, die darauf beruhen, dass vertragsgem&auml;&szlig; genutzte Software ein nach der &ouml;sterreichischen Rechtsordnung wirksames gewerbliches Schutzrecht oder Urheberrecht verletzt. Der Lizenznehmer wird den Lizenzgeber unverz&uuml;glich schriftlich benachrichtigen, falls derartige Anspr&uuml;che gegen ihn erhoben werden, und im Falle eines Rechtsstreites eine Streitverk&uuml;ndung vornehmen, um ihm die M&ouml;glichkeit eines Verfahrensbeitritts zu geben.
    p
    | 8.2 Werden Anspr&uuml;che aus der Verletzung von Schutzrechten geltend gemacht, welche der Lizenzgeber zu vertreten hat, kann der Lizenzgeber auf eigene Kosten die Software &auml;ndern, austauschen oder ein Nutzungsrecht erwirken. Ist dies mit angemessenem Aufwand nicht m&ouml;glich, hat der Lizenznehmer auf Verlangen des Lizenzgebers unverz&uuml;glich das Original und alle Kopien der Software einschlie&szlig;lich &uuml;berlassener Unterlagen gegen R&uuml;ckerstattung der Verg&uuml;tung zur&uuml;ckzugeben. Hiermit sind alle Anspr&uuml;che des Lizenznehmers bez&uuml;glich der Verletzung gewerblicher Schutzrechte und des Urheberrechts, unter Ausschluss jeder weitergehenden Verpflichtung des Lizenzgebers, abschlie&szlig;end geregelt.
    p
    | 8.3 Der Lizenzgeber beh&auml;lt sich das Recht vor, die vereinbarte Nutzung der Software selbst, oder durch beauftragte Dritte (&bdquo;Unterauftragnehmer&ldquo;), zu pr&uuml;fen (&bdquo;Audit&ldquo;), vorausgesetzt, er k&uuml;ndigt die Pr&uuml;fung 14 Tage im Voraus schriftlich an. Der Lizenznehmer ist verpflichtet, bei dem Audit mitzuwirken und dem Lizenzgeber, oder seinen Unterauftragnehmern, hinreichenden Zugang zu mit der Nutzung der Software zusammenh&auml;ngenden Informationen (zB Server, Gesch&auml;ftsb&uuml;cher, etc.) zu gew&auml;hren. Gegebenenfalls zu wenig bezahltes Entgelt ist innerhalb von 14 Tagen nach schriftlicher Aufforderung, nachzuentrichten. Zus&auml;tzlich ist der Lizenzgeber berechtigt den Vertrag au&szlig;erordentlich zu k&uuml;ndigen. Die Kostentragung des Audits ist gesondert zu vereinbaren.
    p
    | 8.4 Der Lizenznehmer stellt durch technische oder sonstige Ma&szlig;nahmen sicher, dass die Software durch bei ihm eingesetzte Open Source Software nicht unter dieselben OSS-Lizenzbedingungen f&auml;llt.
    p
    | 8.5 F&uuml;r Software, f&uuml;r die der Lizenzgeber nur ein abgeleitetes Nutzungsrecht besitzt (Fremdsoftware), gelten zus&auml;tzlich und vorrangig vor den gegenst&auml;ndlichen Bedingungen die zwischen dem Lizenzgeber und seinem Lizenzgeber vereinbarten Nutzungsbedingungen, soweit sie den Lizenznehmer betreffen (wie z.B. End User License Agreement). Der Lizenzgeber weist auf diese hin und stellt sie auf Verlangen dem Lizenznehmer zur Verf&uuml;gung.
    p
    | 8.6 Der Lizenznehmer ist verantwortlich f&uuml;r die Wahrung s&auml;mtlicher Rechte des Lizenzgebers (wie z.B. gewerbliche Schutzrechte, Urheberrecht einschlie&szlig;lich Recht auf Copyright-Vermerk) an der Software und die Wahrung der Anspr&uuml;che des Lizenzgebers auf Geheimhaltung von Betriebs- und Gesch&auml;ftsgeheimnissen auch durch Mitarbeiter und Erf&uuml;llungsgehilfen des Lizenznehmers bzw. Dritte; das gilt auch, wenn die Software ge&auml;ndert oder mit anderen Programmen verbunden wurde. Diese Verpflichtung bleibt auch nach Beendigung des Vertrages aufrecht;
    p 9. Haftung
    p
    | 9.1 Soweit nicht einzelvertraglich anderes vereinbart ist, haftet der &nbsp;Lizenzgeber f&uuml;r Sch&auml;den nur, sofern ihm Vorsatz oder grobe Fahrl&auml;ssigkeit nachgewiesen werden, im Rahmen der gesetzlichen Vorschriften. Die Gesamthaftung des Lizenzgebers in F&auml;llen der groben Fahrl&auml;ssigkeit ist auf den Nettoauftragswert oder auf EUR 500.000,- begrenzt, je nachdem, welcher Wert niedriger ist. Pro Schadensfall ist die Haftung des Lizenzgebers auf 25 % des Nettoauftragswertes oder auf EUR 125.000,- begrenzt, je nachdem, welcher Wert niedriger ist.
    p
    | 9.2 Sofern nicht anders vereinbart, sind die Haftung f&uuml;r leichte Fahrl&auml;ssigkeit, mit Ausnahme von Personensch&auml;den, sowie der Ersatz von Folgesch&auml;den, reinen Verm&ouml;genssch&auml;den, indirekten Sch&auml;den, Produktionsausfall, Finanzierungskosten, Kosten f&uuml;r Ersatzenergie, Verlust von Energie, Daten oder Informationen, des entgangenen Gewinns, nicht erzielter Ersparnisse, von Zinsverlusten und von Sch&auml;den aus Anspr&uuml;chen Dritter gegen den Lizenznehmer ausgeschlossen.
    p
    | 9.3 Sofern einzelvertraglich nicht anders vereinbart, ist bei Nichteinhaltung allf&auml;lliger Bedingungen f&uuml;r Installation, Implementierung und Benutzung (wie z.B. in Bedienungsanleitungen enthalten) oder von beh&ouml;rdlichen Zulassungsbedingungen jeder Schadenersatz ausgeschlossen.
    p
    | 9.4 Sind Vertragsstrafen vereinbart, sind dar&uuml;ber hinausgehende Anspr&uuml;che des Lizenznehmers aus dem jeweiligen Titel ausgeschlossen.
    p
    | 9.5 Sofern einzelvertraglich nicht anders vereinbart, &uuml;bernimmt der Lizenzgeber f&uuml;r die in Punkt 7.8 genannten F&auml;llen auch keinerlei Haftung.
    p
    | 9.6 Der Lizenznehmer haftet dem Lizenzgeber f&uuml;r die Verletzung der im Punkt 5.4 &uuml;bernommenen Verpflichtungen und h&auml;lt den Lizenzgeber schad- und klaglos.
    p
    | 9.7 Die Regelungen des Punktes 9 gelten abschlie&szlig;end f&uuml;r s&auml;mtliche Anspr&uuml;che des Lizenznehmers gegen den Lizenzgeber, gleich aus welchem Rechtsgrund und -titel und sind auch f&uuml;r alle Mitarbeiter, Unterauftragnehmer und Unterlieferanten des Lizenzgebers wirksam.
    p 10. Zahlung
    p
    | 10.1 Die H&ouml;he und F&auml;lligkeit des einmaligen und/oder laufenden Nutzungsentgelts ist einzelvertraglich zu vereinbaren, ebenso wie eine allf&auml;llige Wertsicherung.
    p
    | 10.2 Der Lizenzgeber hat das Recht die Rechnung auf elektronischem Wege zu &uuml;bermitteln.
    p 11. Dauer und Vertragsbeendigung
    p
    | 11.1 Die Dauer des Nutzungsrechts richtet sich nach dem Vertrag. Das Nutzungsrecht endet jedenfalls mit Ablauf der vereinbarten Nutzungszeit bzw. ist auf die Nutzungsdauer der im Vertrag allenfalls definierten Hardware beschr&auml;nkt.
    p
    | 11.2 Bei Beendigung des Nutzungsrechtes ist der Lizenznehmer nach Wahl des Lizenzgebers verpflichtet, die gesamte Software einschlie&szlig;lich &uuml;berlassener Unterlagen an den Lizenzgeber zur&uuml;ckzugeben oder nachweislich zu vernichten. Dies gilt auch f&uuml;r ge&auml;nderte oder mit anderen Programmen verbundene Software.
    p
    | 11.3 Kann bei Individualsoftware innerhalb angemessener Frist keine Einigung &uuml;ber die Abnahme des Pflichtenhefts erzielt werden, so ist der Lizenzgeber berechtigt den Vertrag mit sofortiger Wirkung zu beenden. Bis dahin erbrachte Leistungen sind nach Ma&szlig;gabe der gesetzlichen Bestimmungen r&uuml;ckabzuwickeln.
    p
    | 11.4 Kommt der Lizenznehmer seinen Verpflichtungen nicht nach, so ist der Lizenzgeber berechtigt, die Leistungserbringung abzulehnen und nach Setzung einer angemessenen Frist vom Vertrag zur&uuml;ck zu treten. Der Lizenznehmer haftet jedenfalls f&uuml;r alle Sch&auml;den (beispielsweise f&uuml;r Stehzeiten, etc.), welche dem Lizenzgeber durch Nichteinhaltung dieser Verpflichtungen entstehen.
    p
    | 11.5 Falls &uuml;ber das Verm&ouml;gen des Lizenznehmers ein Insolvenzverfahren er&ouml;ffnet wird oder ein Antrag auf Einleitung eines Insolvenzverfahrens mangels hinreichenden Verm&ouml;gens abgewiesen wird, ist der Lizenzgeber berechtigt, ohne Setzung einer Nachfrist vom Vertrag zur&uuml;ckzutreten. Wird dieser R&uuml;cktritt ausge&uuml;bt, so wird er sofort mit der Entscheidung wirksam, dass das Unternehmen nicht fortgef&uuml;hrt wird. Wird das Unternehmen fortgef&uuml;hrt, so wird ein R&uuml;cktritt erst 6 Monate nach Er&ouml;ffnung des Insolvenzverfahrens oder nach Abweisung des Antrages auf Er&ouml;ffnung mangels Verm&ouml;gens wirksam. Jedenfalls erfolgt die Vertragsaufl&ouml;sung mit sofortiger Wirkung, sofern das Insolvenzrecht, dem der Lizenznehmer unterliegt, dem nicht entgegensteht oder wenn die Vertragsaufl&ouml;sung zur Abwendung schwerer wirtschaftlicher Nachteile des Lizenzgebers unerl&auml;sslich ist.
    p 12 Geltendmachung von Anspr&uuml;chen
    p
    | Alle Anspr&uuml;che des Lizenznehmers sind bei sonstigem Anspruchsverlust binnen 3 Jahren ab Durchf&uuml;hrung der Leistungen gerichtlich geltend zu machen, sofern zwingende gesetzliche Bestimmungen nicht andere Fristen vorsehen.
    p 13 Einhaltung von Exportbestimmungen
    p
    | 13.1 Der Lizenznehmer hat bei Weitergabe der vom Lizenzgeber gelieferten Waren sowie dazugeh&ouml;riger Dokumentation unabh&auml;ngig von der Art und Weise der Zurverf&uuml;gungstellung oder der vom Lizenzgeber erbrachten Leistungen einschlie&szlig;lich technischer Unterst&uuml;tzung jeder Art an Dritte die jeweils anwendbaren Vorschriften der nationalen und internationalen (Re-) Exportbestimmungen einzuhalten. In jedem Fall hat er bei Weitergabe der Waren oder Leistungen an Dritte die (Re-)Exportbestimmungen des Sitzstaates des Lizenzgebers, der Europ&auml;ischen Union, des Vereinigten K&ouml;nigreiches Gro&szlig;britannien und Nordirland und der Vereinigten Staaten von Amerika zu beachten.
    p
    | 13.2 Sofern f&uuml;r Exportkontrollpr&uuml;fungen erforderlich, hat der Lizenznehmer dem Lizenzgeber nach Aufforderung unverz&uuml;glich alle erforderlichen Informationen, u.a. &uuml;ber Endempf&auml;nger, Endverbleib und Verwendungszweck der Software oder Leistungen zu &uuml;bermitteln.
    p 14. Allgemeines&nbsp;
    p
    | 14.1 Der Lizenzgeber hat dem Lizenznehmer zu melden, wenn er sich der Leistung von Unterauftragnehmern bedient. Konzernverbundene Unternehmen des Lizenzgebers gelten vorab als genehmigt.
    p
    | 14.2 Falls einzelne Bestimmungen des Vertrages oder dieser &nbsp;Bedingungen unwirksam sein sollten, wird die Wirksamkeit der &uuml;brigen Bestimmungen nicht ber&uuml;hrt. Die unwirksame Bestimmung ist durch eine g&uuml;ltige, die dem angestrebten Ziel m&ouml;glichst nahe kommt, zu ersetzen.
    p
    | 14.3 Die deutsche Sprachfassung gilt als authentische Fassung der Bedingungen und ist auch zur Vertragsauslegung zu verwenden.
    p 15. Gerichtsstand und Recht
    p
    | Zur Entscheidung aller aus dem Vertrag entstehenden Streitigkeiten &ndash; einschlie&szlig;lich solcher &uuml;ber sein Bestehen oder Nichtbestehen &ndash; ist das sachlich zust&auml;ndige Gericht am Hauptsitz des Lizenzgebers, in Wien jenes im Sprengel des Bezirksgerichtes Innere Stadt, ausschlie&szlig;lich zust&auml;ndig. Der Vertrag unterliegt &ouml;sterreichischem Recht unter Ausschluss der Weiterverweisungsnormen. Die Anwendung des UNCITRAL-&Uuml;bereinkommens der Vereinten Nationen &uuml;ber Vertr&auml;ge &uuml;ber den internationalen Warenkauf wird ausgeschlossen.
    p 16 Vorbehaltsklausel
    p
    | Die Vertragserf&uuml;llung seitens des Lizenzgebers steht unter dem Vorbehalt, dass der Erf&uuml;llung keine Hindernisse aufgrund von nationalen oder internationalen (Re-) Exportbestimmungen, insbesondere keine Embargos und/oder sonstige Sanktionen, entgegenstehen.
    p
    br
    p
    br
    p Stand April 2018; &uuml;bernommen von der WKO
    p
    br
       
include foot.pug
