include head
main.container.impressum(role="main")
    h3 Erkl&auml;rung zur Informationspflicht (Datenschutzerkl&auml;rung)
    hr
    p Zur Zeit werden noch keine Daten über den Zugriff auf die Web-Site gespeichert.
        
include foot.pug
