
footer.page-footer.font-small
  div.container

    div.row.text-center.d-flex.justify-content-center.pt-5.mb-3

      div.col-md-4.mb-3
        h6.text-uppercase.font-weight-bold
          a(href="/datenschutz") Datenschutz

      div.col-md-4.mb-3
        h6.text-uppercase.font-weight-bold
          a(href="/agb") AGB

      div.col-md-4.mb-3
        h6.text-uppercase.font-weight-bold
          a(href="/impressum") Impressum

    <hr class="rgba-white-light" style="margin: 0 15%;">


  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright <b>Greißlomat e.U.</b>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
 
   
script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
script(src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous")
script(src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous")
    
   