include head
main.container(role="main")  
    div.row.justify-content-center.mt-3
        h5 Die Lösung
    div.row.justify-content-center.mt-3
        div.col.
            Auf einem zentralen, gut zugänglichen Platz im Ortskern stelle ich einen Warenverkaufsautomaten auf.
            Dadurch wird die Lebensqualität der Bevölkerung erhöht, und auch die Standortattraktivität der Gemeinde gestärkt.
    div.row.justify-content-center.mt-3
        div.col.
            Dort biete ich folgende Produkte zum Verkauf an:
    div.row.justify-content-center.mt-3
        div.col-6-sm
            img.bild1.content-center(src="/images/Bild1.png")
        div.col-5-sm
            ul
                li Wurstwaren
                li Brot /Backwaren
                li Getreideprodukte
                li Öle / Fette
                li Zucker
                li Salz, Gewürze
                li Obst und Gemüse
                li Hygieneprodukte
                li Milch und Käse
                li Haushaltswaren
    div.row.justify-content-center.mt-3
        div.col-3-sm
            img(src="/images/Bild2.png")
        div.col-8-sm.align-self-center
            ul
                li 24 Stunden am Tag / 7 Tage die Woche geöffnet
                li keine großen Entfernungen somit ohne Fahrzeug erreichbar
                li bequem Abends nach der Arbeit einkaufen
    div.row.justify-content-center.mt-3
        div.col-3-sm.d-md-none
            img(src="/images/Bild3.png")
        div.col-8-sm.align-self-center
            ul
                li viele Regionale Produkte / Förderung lokaler Betriebe
        div.col-3.d-none.d-md-block
            img(src="/images/Bild3.png")
    div.row.justify-content-center.mt-3
        div.col-3-sm
            img(src="/images/Bild4.png")
        div.col-8-sm.align-self-center
            ul
                li immer frisch durch innovative Logistik und Überwachung der Waren
    div.row.justify-content-center.mt-3
        div.col-3-sm.d-md-none
            img(src="/images/Bild5.png")
        div.col-8-sm.align-self-center
            ul
                li Preis vergleichbar mit anderen Einzelhändlern
                li Stammkundenrabatte möglich durch Zahlung via mobiler App
                li verschiedene Zahlungsmöglichkeiten (Münzen, Banknoten, Karten, App,..)
        div.col-3.d-none.d-md-block
            img(src="/images/Bild5.png")
    div.row.justify-content-center.mt-3
        div.col-3-sm
            img(src="/images/Bild6.png")
        div.col-8-sm.align-self-center
            ul
                li Kundenkontakt via Social-Media und der Greißlomat-App

    div.row.justify-content-center.mt-5
        div.col-2-sm.ml-2
            h5 Weitere Vorteile des Greißlomat-Konzepts:
        div.col-8-sm.align-self-center
            ul
               li Nachhaltigkeit durch Reduzierung von unnötigen Autofahrten. (Einer versorgt viele.)
               li Optimierung von Prozessen möglich durch Automatisierung und Einsatz von intelligenten Warenwirtschaftssystemen (Maschinenlernen)
style.
    img{
        border-radius:.5em;
        margin: .3em;
        width: 10rem;
    }
    h5{
        color: #000066;
    }
    .bild1{
        width:16em;
    }    
    .coaching{
        width:10em;
        float:right;
    }    
    .solution{
        width:9em;
        float:left;
    }    
    .beratung{
        height:8em;
        width: 8em;
        float:right;
    }
include foot